.navBgContacts{
	background-color: rgba(204, 145, 102, 0.70);
}
.alignLeft{
	text-align: left; 
}
.hello span{
	display: block;
	color: rgba(240, 127, 112, 1);
	text-transform: uppercase;
	font-size: 72px;
	font-weight: 500; 
	margin-bottom: 80px;
}
.fontSize{
	font-size: 36px;
}
/*Flex*/
.flexContacts{
	display: flex;
}
.item1-1{
	width: 53px;
	padding-top: 10px;
	margin-right: 13px;
}
.item1-2{
	width: 493px;
	margin-right: 40px;
}
.item1-3{
	width: 601px;
	background-color: #C6A187;
	border-radius: 7px;
	margin-top: 10px;
	margin-bottom: 80px;
	padding-left: 40px;
	padding-top: 40px;
	font-size: 20px; 
	text-align: left;
}
/*Список*/
.icons{

}
.icons li{
	list-style-type: none; 
	background-color: #C6A187;
	color: #FFFCF5;
	border-radius: 50%;
	padding: 12px;
	margin-bottom: 40px;
}
.icons li:hover{
	background-color: rgba(240, 127, 112, 1)
}
.icons i{
	font-size: 26px;
}
/*Forms*/
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  width: 100%;
  max-width: 493px;
  height: 53px;
  margin-top: 11px;
  margin-bottom: 30px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #E5CDBC;
  border: 1px solid #E5CDBC;
  border-radius: 7px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  background-color: #C6A187;
  border: 1px solid #C6A187;
  color: #666565;
  outline: 0; }