/*
  ========================================
  Общие стили Contacts	
  ========================================
*/
.navBgContacts{
	background-color: rgba(204, 145, 102, 0.70);
}
.header_galleryBg{
	position: relative;
	background: url(../images/header-gallery.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
/*
  ========================================
  Секция с оверлеем
  ========================================
*/
.overley-gallery{
	position: relative;
	text-align: center;
	background: url(../images/header-gallery.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}
.overley-gallery:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(64,64,64,0.5);
}
.overley-gallery blockquote{
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	border: none;
	margin: 0;
	font-weight: 300;
	font-size: 28px;
	font-style: italic;
	color: rgba(255,255,255,.6);
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: rgba(255,255,255,.1);
}
/*
  ========================================
  Flex елементы	
  ========================================
*/
.flex_gallery{
	display: flex;
}
.itemG-1{
	width: 50%;
	height: 350px;
	position: relative;
	background: url(../images/11.jpg) no-repeat center center;
	background-attachment: scroll;
	background-size: cover;
	padding:  40px;
	margin-bottom: 40px;
	margin-right: 40px;
	text-align: left;
	cursor: pointer;
}
.date{
	font-family: 'Marck Script', cursive;
	font-size: 24px;
	color: rgba(240, 127, 112, 1);
}
.place{
	font-size: 36px;
	color: #F8F2ED;
}
.place2{
	font-size: 18px;
	color: #F8F2ED;
	font-family: 'Open Sans', sans-serif;
}
.itemG-1:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(64,64,64,0.7);	
}
.itemG-1:hover:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(64,64,64,0.25);	
}	
.itemG-2{
	width: 50%;
	height: 350px;
	position: relative;
	background: url(../images/12.jpg) no-repeat center center;
	background-attachment: scroll;
	background-size: cover;
	padding: 40px;
	margin-bottom: 40px;
	text-align: left;
	cursor: pointer;
}
.itemG-2:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(64,64,64,0.7);	
}
.itemG-2:hover:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(64,64,64,0.25);	
}
.itemG-3{
	width: 50%;
	height: 350px;
	position: relative;
	background: url(../images/13.jpg) no-repeat center center;
	background-attachment: scroll;
	background-size: cover;
	padding: 40px;
	margin-bottom: 80px;
	margin-right: 40px;
	text-align: left;
	cursor: pointer;
}
.itemG-3:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(64,64,64,0.7);	
}
.itemG-3:hover:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(64,64,64,0.25);	
}
.itemG-4{
	width: 50%;
	height: 350px;
	position: relative;
	background: url(../images/14.jpg) no-repeat center center;
	background-attachment: scroll;
	background-size: cover;
	padding: 40px;
	margin-bottom: 80px;
	text-align: left;
	cursor: pointer;
}
.itemG-4:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(64,64,64,0.7);	
}
.itemG-4:hover:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(64,64,64,0.25);	
}
.flex_gallery hr{
	margin: 0 !important;
	width: 360px;
	border-width: 0;
    border-top: 1px solid #F8F2ED;
}