/*
  ========================================
  Сброс стилей браузера
  ========================================
*/
* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset,  form,  label,  legend,  table,  caption,  tbody,  tfoot,  thead,  tr,  th,  td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
article,  aside,  details,  figcaption,  figure,  footer,  header,  hgroup,  menu,  nav, 
section {
display: block;
}
body {
line-height: 1.2;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
ol {
list-style: decimal;
}
ul {
list-style: square;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
content: '';
content: none;
}
/* конец кода сброса стилей браузера */
/*
  ========================================
  Меню	
  ========================================
*/
.container{
	width: 1200px;
	margin: 0 auto;
}
.header{
	background-color: #4DABAB;
}
.header_bg{
	background-color: #4DABAB;
}
nav.menu ul{
	list-style-type: none; 
	display: inline-block;
}
nav.menu ul li{
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans';
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
}
nav.menu ul li a{
	text-decoration: none;
	color: #fff;
	padding-bottom: 3px;
}
nav.menu ul li a:hover{
	border-bottom: 2px solid #fff;
}
nav.menu ul li.offset{
	margin-right: 180px;
}
nav.menu ul li.tel1{
	font-size: 22px;
	color: #fff;
}
nav.menu ul li.tel2{
	font-size: 22px;
	color: #fff;
	padding-right: 0;
}
/*
  ========================================
  Вторая секция	
  ========================================
*/
.section_2{
	text-align: center;
	padding-top: 150px;
	background-image: url("../img/sails.svg");
	background-repeat: no-repeat;
	background-position: 380px 130px;
}
.logo{
	font-size: 48px;
	color: #fff;
	font-weight: 500;
	font-family: 'Open Sans';
	padding-bottom: 30px;
}
.text_1{
	font-size: 36px;
	color: #fff;
	font-weight: 400;
	font-family: 'Open Sans';
	padding-bottom: 20px;
}
.text_weight{
	font-weight: 600;
}
.text_2{
	font-size: 36px;
	color: #fff;
	font-weight: 400;
	font-family: 'Open Sans';
	padding-bottom: 140px;
}
/*
  ========================================
  Как мы работаем	
  ========================================
*/
.section_3{
	text-align: center;
}
.text_3{
	font-size: 36px;
	font-weight: normal;
	font-family: 'Open Sans';
	margin-bottom: 60px;
	margin-top: 100px;
}
.flex_container{
	display: flex;
}
.item1{
	width: 25%;
	background-image: url("../img/section_3/paper_icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	margin-right: 30px;
	padding-top: 100px;
	padding-bottom: 100px;

}
.item2{
	width: 25%;
	background-image: url("../img/section_3/Burger.svg");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	margin-right: 30px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.item3{
	width: 25%;
	background-image: url("../img/section_3/computer_icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	margin-right: 30px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.item4{
	width: 25%;
	background-image: url("../img/section_3/Car.svg");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	padding-top: 100px;
	padding-bottom: 100px;
}
.text_4{
	font-family: 'Open Sans';
	line-height: 1.4;
}
/*
  ========================================
  Рестораны быстрого питания
  ========================================
*/
.bg_section3{
	background-color: #4DABAB;
	padding-top: 100px;
}
.section_4{
	text-align: center;
}
.text_5{
	font-family: 'Open Sans';
	font-size: 36px;
	color: #fff;
}
.flex_container_4{
	display: flex;
}
.item5{
	width: 33.3333%;
	padding-top: 60px;
	padding-bottom: 100px;
} 
.flex_container_4 a{
	text-decoration: none;
}
.item5_2{
	padding-left: 100px; 
}
.item5_3{
	padding-left: 200px;
}
.btn{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #fff;
	display: block;
	width: 200px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 40px;
	border: 2px solid #fff;
}
a.btn:hover{
	background-color: #fff;
	color: black; 
}
/*
  ========================================
  Время работы, доставка и оплата
  ========================================
*/
.section_5{
	text-align: center;
	padding-top: 100px;
}
.text_6{
	font-family: 'Open Sans';
	font-size: 36px;
	margin-bottom: 60px;
}
.text_7{
	font-family: 'Open Sans';
	font-size: 24px;
	margin-bottom: 30px;
}
.text_8{
	font-family: 'Open Sans';
	font-size: 36px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.text_7_1{
	font-family: 'Open Sans';
	font-size: 16px;
	margin-bottom: 50px;
	line-height: 1.4;
}
.text_7_1_1{
	font-family: 'Open Sans';
	font-size: 24px;
	margin-bottom: 30px;
}
.text_7_1_2{
	font-family: 'Open Sans';
	font-size: 16px;
	margin-bottom: 100px;
	line-height: 1.4;
}

/*
  ========================================
  Почему мы?
  ========================================
*/
.bg_section6{
	background-color: #F8F8F8;
}
.section_6{
	text-align: center;
	padding-top: 100px;
}
.text_9{
	font-family: 'Open Sans';
	font-size: 36px;
	margin-bottom: 60px;
}
.flex_container_5{
	display: flex;
}
.item8{
	width: 33.333%;
	padding-top: 90px;
}
.text_10{
	font-size: 24px;
	font-family: 'Open Sans';
	margin-bottom: 30px;
}
.text_11_1{
	font-family: 'Open Sans';
	margin-bottom: 60px;
	line-height: 1.4;
}
.text_11{
	font-family: 'Open Sans';
	margin-bottom: 100px;
	line-height: 1.4;
}
.item8_1{
	background-image: url("../img/section_5/Speed_icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 0%; 
}
.item8_2{
	background-image: url("../img/section_5/Shield.svg");
	background-repeat: no-repeat;
	background-position: 50% 0%; 
}
.item8_3{
	background-image: url("../img/section_5/Smile.svg");
	background-repeat: no-repeat;
	background-position: 50% 0%; 
}
.item8_4{
	background-image: url("../img/section_5/Home.svg");
	background-repeat: no-repeat;
	background-position: 50% 0%; 
}
.item8_5{
	background-image: url("../img/section_5/Hot.svg");
	background-repeat: no-repeat;
	background-position: 50% 0%; 
}
.item8_6{
	background-image: url("../img/section_5/Time.svg");
	background-repeat: no-repeat;
	background-position: 50% 0%; 
}
/*
  ========================================
  Оформить заказ
  ========================================
*/
.text_20{
	font-size: 36px;
	color: #fff;
	font-family: 'Open Sans';
	margin-bottom: 60px;
}
.container2{
	width: 760px;
	margin: 0 auto;
	padding-bottom: 100px;
}
.bg_section7{
	background-color: #4DABAB;
}
.section_7{
	text-align: center;
	padding-top: 100px;
}
.flex_container_7{
	display: flex;
}
.item10{
	width: 50%;
	margin-right: 40px;
	margin-bottom: 40px;
}
.item11{
	width: 50%;
}
.item12{
	width: 100%;
}
.form1{
	margin-bottom: 40px;
}
.right{
	text-align: right;
}
/*
  ========================================
  Формы	
  ========================================
*/
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  color: rgba(255, 255, 255, 0.8);
  height: 60px;/*Говнокод*/
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #4DABAB;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Open Sans';
}
textarea{
	height: 250px;/*Говнокод*/
	max-height: 250px;
	font-family: 'Open Sans';
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  background-color: #4DABAB;
  border: 2px solid #fff;
  outline: 0; }
 /*	
  ========================================
  Стили кнопок
  ========================================
*/
$green: #1ECD97;
$gray: #bbbbbb;
* {
  font-family: 'Roboto', sans-serif;
}
.containerBut {
  width: 130px;
  height: 40px;
}
button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid $green;
  color:$green;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $green;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"SUBMIT";
  }
}
.onclic {
  width: 40px;
  border-color:$gray;
  border-width:3px;
  font-size:0;
  border-left-color:$green;
  animation: rotating 2s 0.51s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:$green;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: $green;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*	
  ========================================
  Футер
  ========================================
*/
.footer_bg{
	background-color: #f8f8f8;
}
.section_8{
	text-align: center;
	padding-top: 100px;

}
.flex_container_90{
	display: flex;
}
.item33{
	width: 33.333%;
	height: 60px;
	margin-bottom: 30px;
}
.bg_31{
	background-image: url("../img/section_8/facebook.svg");
	background-repeat: no-repeat;
	background-position: 100% 0%; 
}
.bg_32{
	background-image: url("../img/section_8/vk.svg");
	background-repeat: no-repeat;
	background-position: 50% 0%; 
}
.bg_33{
	background-image: url("../img/section_8/instagram.svg");
	background-repeat: no-repeat;
	background-position: 0% 0%; 
}
.text_44{
	font-size: 24px;
	font-family: 'Open Sans';
	color: #4DABAB;
	margin-bottom: 25px;
}
.text_45{
	font-size: 24px;
	font-weight: 600;
	color: #4DABAB;
	background-image: url("../img/section_8/Logo_Sail_color.svg");
	background-repeat: no-repeat;
	background-position: 41% 0%;
	padding-bottom: 30px; 
	padding-top: 5px;
}
.flex_container_91{
	display: flex;
	padding-bottom: 100px;
}
.item51{
	width: 50%;
	margin-right: 40px;
	text-align: right;
}
.item52{
	width: 50%;
	text-align: left;
}

.text_41{
	font-size: 22px;
	font-weight: 300;
	font-family: 'Open Sans';
	color: #4DABAB;
}
.text_42{
	font-size: 22px;
	font-weight: 300;
	font-family: 'Open Sans';
	color: #4DABAB;
}