/*
  ========================================
  Сброс стилей браузера
  ========================================
*/
* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset,  form,  label,  legend,  table,  caption,  tbody,  tfoot,  thead,  tr,  th,  td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
article,  aside,  details,  figcaption,  figure,  footer,  header,  hgroup,  menu,  nav, 
section {
display: block;
}
body {
line-height: 1.2;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
ol {
list-style: decimal;
}
ul {
list-style: square;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
content: '';
content: none;
}
/* конец кода сброса стилей браузера */
/*
  ========================================
  Меню	
  ========================================
*/
.container{
	width: 1200px;
	margin: 0 auto;
}
.header{
	background-color: #4DABAB;
}
.header_bg{
	background-color: #4DABAB;
}
nav.menu ul{
	list-style-type: none; 
	display: inline-block;
}
nav.menu ul li{
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans';
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
}
nav.menu ul li a{
	text-decoration: none;
	color: #fff;
	padding-bottom: 3px;
}
nav.menu ul li a:hover{
	border-bottom: 2px solid #fff;
}
nav.menu ul li.offset{
	margin-right: 180px;
}
nav.menu ul li.tel1{
	font-size: 22px;
	color: #fff;
}
nav.menu ul li.tel2{
	font-size: 22px;
	color: #fff;
	padding-right: 0;
}
/*
  ========================================
  Вторая секция	
  ========================================
*/
.section_2{
	text-align: center;
	padding-top: 150px;
}
.logo{
	font-size: 48px;
	color: #fff;
	font-weight: 500;
	font-family: 'Open Sans';
	padding-bottom: 30px;
}
.text1{
	font-size: 36px;
	color: #fff;
	font-weight: 400;
	font-family: 'Open Sans';
	padding-bottom: 20px;
}
.text_weight{
	font-weight: 700;
}
.tex2{
	font-size: 36px;
	color: #fff;
	font-weight: 400;
	font-family: 'Open Sans';
	padding-bottom: 240px;
}
/*
  ========================================
  Секция с фоном	
  ========================================
*/
.bg{
	height: 600px;
	background-image: url("../img/Sail.png");
	background-repeat: no-repeat;
	background-position: 0% 0%;
}