/*
  ========================================
  Медиа запросы	
  ========================================
*/
/*Для смартфонов*/
@media (max-width:480px){
	
}
/*Для планшетов*/
@media (min-width: 481px) and (max-width:768px){
	.container {
		width: 100%;
		padding: 0 20px 0 20px; 
	}
	nav{
		display: none;
	}
/*
  ========================================
  Хедер	
  ========================================
*/
	.section_1{
		text-align: center;
		padding-top: 135px;
		padding-bottom: 125px;
		background: none;
	}
	.text_1{
		font-size: 24px;
		padding-bottom: 15px;
		letter-spacing: .25px;
	}
	.text_2{
		font-size: 22px;
		padding-bottom: 10px;
		letter-spacing: .5px;
	}
	.text_3{
		font-size: 22px;
		letter-spacing: .7px;
	}
}
/* стили для ширины крупнее компьютерных мониторов */
/* стили для ширины 1000 пикселов и выше */
@media (min-width:769px) {
	
}
/* стили для ширины крупнее компьютерных HD-мониторов */
/* стили для ширины 1200 пикселов и выше */
@media (min-width: 1200px) {
}